
.vs/WebApiTokenAuthentication/v15/.suo
.vs/WebApiTokenAuthentication/v15/.suo
.vs/WebApiTokenAuthentication/v15/.suo
.vs/WebApiTokenAuthentication/v15/.suo
*.lock
.vs/WebApiTokenAuthentication/v15/Server/sqlite3/storage.ide
*.pdb
obj/Debug/WebApiTokenAuthentication.dll
*.cache
obj/Debug/WebApiTokenAuthentication.csproj.FileListAbsolute.txt
*.cache
.vs/WebApiTokenAuthentication/v15/Server/sqlite3/storage.ide-wal
.vs/WebApiTokenAuthentication/v15/Server/sqlite3/storage.ide-shm
